
@{
    ViewBag.Title = "Display Articles";
}
@section style{
    <style>
        .icons {
            margin-right: 1rem;
        }

        .close {
            cursor: pointer;
            color: red;
            position: absolute;
            right: 10px;
        }

        .validation-text-custom {
            font-size: 1.1rem;
        }

        .validation-table-custom {
            margin: 0 auto;
        }

        td {
            padding: 5px 0;
        }
    </style>
}

<div id="operation-box" class="modal fade" role="dialog">
</div>

<div class="panel panel-default">
    <div class="panel-body">
        @(Html.Kendo().Grid<ViewModels.Models.Article.ArticleViewModel>()
    .Name("grid")
    .Columns(columns =>
    {
        //columns.Select().Width(50);
        columns.Bound(c => c.Title);
        columns.Bound(c => c.Content);
        columns.Bound(c => c.PublishDate);
        columns.Command(command => { command.Destroy(); }).Width(100);
    })
    .ToolBar(t =>
    {
        t.Custom().Text("Add").HtmlAttributes(new { @id = "addBtn" });
        t.Custom().Text("edit").HtmlAttributes(new { @id = "editBtn" });
    })
    .Editable(editTable => editTable.Mode(GridEditMode.InLine).ConfirmDelete("Continue to Delete this record?").DisplayDeleteConfirmation("Continue to delete this record?"))
    .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
    .Selectable(select => select
        .Mode(GridSelectionMode.Single))
    .Sortable()
    .Scrollable()
    .HtmlAttributes(new { style = "height: 400px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .Events(events => events.Error("error_handler"))
        .Model(model => model.Id(a => a.ArticleId))
        //.Create(create => create.Action("Add", "Article"))
        .Read(read => read.Action("FillArticleGrid", "Article"))
        //.Update(update => update.Action("Edit", "Article"))
        .Destroy(destroy => destroy.Action("Delete", "Article"))
        )
        )
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
                var _addUrl = '@Url.Action("Add","Article")';
                var _editUrl = '@Url.Action("Edit","Article")';
    </script>
    <script type="text/javascript">
        function error_handler(e) {
            if (e.errors) {
                var message = "Error:\n";
                $.each(e.errors, function (key, value) {
                    if ('errors' in value) {
                        $.each(value.errors, function () {
                            message += this + "\n";
                        });
                    }
                });
                alert(message);
            }
        }

        // Refresh
        $(document).ready(function (e) {
            gridLoad();
        })

        function gridLoad() {
            $("#grid").data('kendoGrid').dataSource.read();
        }

        // Create
        $("#addBtn").off("click");
        $("#addBtn").on("click", function (e) {
            e.preventDefault();
            $.get(_addUrl).done(function (result) {
                $("#operation-box").html(result);
                $("#operation-box").modal("show");
            });
        });

        //edit
        $(document).off('click', '#editBtn');
        $(document).on('click', '#editBtn', function (e) {
            e.preventDefault();
            
            var grid = $("#grid").data("kendoGrid");  
            var selectedItem = grid.dataItem(grid.select());
            var id = selectedItem.ArticleId;
            $.get(_editUrl, { userId: id }).done(function (result) {
                $("#operation-box").html(result);
                $("#operation-box").modal("show");
            });
        })

    </script>
}