@{
    ViewBag.Title = "Display Roles";
}
@section style{
    <style>
        a {
            text-decoration: none;
        }

        #delete a {
            color: white
        }

        .add-form {
            display: none;
        }

        .edit-form {
            display: none;
        }

        .add-btn {
            margin: 1rem 2rem 1rem 0;
            width: 10rem;
            font-weight: bold;
        }

        .edit-btn {
            font-weight: bold;
            margin-right: 1rem;
        }

        .delete-btn {
            font-weight: bold;
        }

        .panel-heading-custom {
            font-weight: bold;
        }

        .close-btn {
            cursor: pointer;
            color: red;
            position: absolute;
            right: 10px;
        }

        .panel-custom {
            width: 30%;
            position: absolute;
        }

        .btn-Roles {
            margin: 1rem 2rem 1rem 0;
            width: 10rem;
            font-weight: bold;
        }

        .btn-icons {
            margin-right: 1rem;
        }

        .justify-content-center {
            display: flex;
            justify-content: center;
        }

        .alert-custom {
            margin: 0 auto;
            width: 50%;
        }

        .validation-text-custom {
            font-size: 1.1rem;
        }
    </style>
}


<div class="btn btn-primary btn-sm btn-Roles">
    <i class="fa fa-user btn-icons"></i>
    Roles
</div>
<hr />

<div id="operation-box" class="modal fade" role="dialog">
</div>

<div class="panel panel-default">
    <div class="panel-body">
        @(Html.Kendo().Grid<Domain.Entities.Security.Model.Role>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(c => c.Title);
        columns.Command(command => { command.Destroy(); }).Width(100);

    })
    .ToolBar(t =>
    {
        t.Custom().Text("Add").HtmlAttributes(new { @id = "addBtn" });
        t.Custom().Text("Edit").HtmlAttributes(new { @id = "editBtn" });
    })
    .Editable(editTable => editTable.Mode(GridEditMode.InLine).ConfirmDelete("Continue to Delete this record?").DisplayDeleteConfirmation("Continue to delete this record?"))
    .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
     .Selectable(select=>select
                        .Mode(GridSelectionMode.Single))    
    //.Groupable()
    .Sortable()
    .HtmlAttributes(new { style = "height: 550px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .Events(events => events.Error("error_handler"))
        .Model(model => model.Id(r => r.RoleId))
        .Read(read => read.Action("FillRoleGrid", "Role"))
        .Destroy(destroy => destroy.Action("Delete", "Role"))
        )
        )
    </div>
</div>



@section scripts
{
    <script type="text/javascript">
        var _addUrl = '@Url.Action("Add","Role")';
        var _editUrl = '@Url.Action("Edit","Role")';
        @*var _deleteUrl = '@Url.Action("Delete","Role")';*@
    </script>
    <script type="text/javascript">
        function error_handler(e) {
            if (e.errors) {
                var message = "Error:\n";
                $.each(e.errors, function (key, value) {
                    if ('errors' in value) {
                        $.each(value.errors, function () {
                            message += this + "\n";
                        });
                    }
                });
                alert(message);
            }
        }

        // Refresh
        $(document).ready(function (e) {
            gridLoad();
        })
        function gridLoad() {
            $("#grid").data('kendoGrid').dataSource.read();
        }
        //$(document).ready(function (e) {
        //    init grid
        //    gridLoad();
        //});

        //create
        $("#addBtn").off("click");
        $("#addBtn").on("click", function (e) {
            e.preventDefault();
            $.get(_addUrl).done(function (result) {
                $("#operation-box").html(result);
                $("#operation-box").modal("show");
            });
        });

        //edit modal
        $(document).off('click', '#editBtn');
        $(document).on('click', '#editBtn', function (e) {
            e.preventDefault();
            var grid = $("#grid").data("kendoGrid");  
            var selectedItem = grid.dataItem(grid.select());
            var id = selectedItem.RoleId;
            $.get(_editUrl, { roleId: id }).done(function (result) {
                $("#operation-box").html(result);
                $("#operation-box").modal("show");
            });
        })

        ////delete modal
        //$(document).off('click', '.btn-index-delete-role');
        //$(document).on('click', '.btn-index-delete-role', function (e) {
        //    var id = $(this).data("roleid");
        //    $.get(_deleteUrl, { roleId: id }).done(function (result) {
        //        $("#add-edit-delete-box").html(result);
        //        $("#add-edit-delete-box").modal("show");
        //    });
        //});


        //refresh grid
        //function gridLoad() {
        //    $("#table-box").empty();
        //    $.ajax({
        //        url: _roleListUrl,
        //        type: 'GET',
        //        datatype: "json",
        //        success: function (response) {
        //            $("#table-box").html(response);
        //        },
        //        error: function (error) {
        //            console.log(error);
        //        }
        //    });
        //}
    </script>
}