@{
    ViewBag.Title = "Display Users";
}
@section style{
    <style>
        a {
            text-decoration: none;
        }

        .table-custom {
            width: 50%;
            margin: 0 auto;
        }

        #delete a {
            color: white
        }

        .add {
            margin: 1rem 2rem 1rem 0;
            width: 10rem;
            font-weight: bold;
        }

        .edit {
            font-weight: bold;
            margin-right: 1rem;
        }

        .delete {
            font-weight: bold;
        }

        .panel-heading-custom {
            font-weight: bold;
        }

        .close {
            cursor: pointer;
            color: red;
            position: absolute;
            right: 10px;
        }

        .panel-custom {
            width: 30%;
            position: absolute;
        }

        .button-Users {
            margin: 1rem 2rem 1rem 0;
            width: 10rem;
            font-weight: bold;
        }

        .icons {
            margin-right: 1rem;
        }

        .justify-content-center, .modal-footer-custom, .position-buttons {
            display: flex;
            justify-content: center;
        }

        .alert-custom {
            margin: 0 auto;
            width: 50%;
        }

        .validation-text-custom {
            font-size: 1.1rem;
        }

        .validation-table-custom {
            margin: 0 auto;
        }

        td {
            padding: 5px 0;
        }
    </style>
}
<div class="btn btn-primary btn-sm button-Users">
    <i class="fa fa-users icons"></i>
    Users
</div>
<hr />
<div id="operation-box" class="modal fade" role="dialog">
</div>

<div class="panel panel-default">
    <div class="panel-body">
        @(Html.Kendo().Grid<ViewModels.Models.User.UserViewModel>
    ()
    .Name("grid")
    .Columns(columns =>
    {
    columns.Bound(c => c.UserName);
    columns.Bound(c => c.Email);
    columns.Command(command => { command.Destroy(); }).Width(100);
    })
    .ToolBar(t =>
    {
    t.Custom().Text("Add").HtmlAttributes(new { @id = "addBtn" });
    t.Custom().Text("Edit").HtmlAttributes(new { @id = "editBtn" });
    })
    .Editable(editTable => editTable.Mode(GridEditMode.InLine).ConfirmDelete("Continue to Delete this record?").DisplayDeleteConfirmation("Continue to delete this record?"))
    .Pageable(pageable => pageable
             .Refresh(true)
             .PageSizes(true)
             .ButtonCount(5))
    .Selectable(select => select
             .Mode(GridSelectionMode.Single))
    .Sortable()
    .Scrollable()
    .HtmlAttributes(new { style = "height: 550px;" })
    .DataSource(dataSource => dataSource
              .Ajax()
              .PageSize(20)
              .Events(events => events.Error("error_handler"))
              .Model(model => model.Id(u=>u.UserId))
              .Read(read => read.Action("FillUserGrid", "User"))
              .Destroy(destroy => destroy.Action("Delete", "User"))
    )
    )
    </div>
</div>

@section scripts
        {
    <script type="text/javascript">
        var _addUrl = '@Url.Action("Add","User")';
        var _editUrl = '@Url.Action("Edit","User")';
    </script>
    <script type="text/javascript">
        function error_handler(e) {
            if (e.errors) {
                var message = "Error:\n";
                $.each(e.errors, function (key, value) {
                    if ('errors' in value) {
                        $.each(value.errors, function () {
                            message += this + "\n";
                        });
                    }
                });
                alert(message);
            }
        }

        // Refresh
        $(document).ready(function (e) {
            gridLoad();
        })
        function gridLoad() {
            $("#grid").data('kendoGrid').dataSource.read();
        }

        //create 
        $("#addBtn").off("click");
        $("#addBtn").on("click", function (e) {
            e.preventDefault();
            $.get(_addUrl).done(function (result) {
                $("#operation-box").html(result);
                $("#operation-box").modal("show");
            });
        });

        //edit modal
        $(document).off('click', '#editBtn');
        $(document).on('click', '#editBtn', function (e) {
            e.preventDefault();
            var grid = $("#grid").data("kendoGrid");  
            var selectedItem = grid.dataItem(grid.select());
            debugger
            var id = selectedItem.UserId;
            $.get(_editUrl, { userId: id }).done(function (result) {
                $("#operation-box").html(result);
                $("#operation-box").modal("show");
            });
        })
    </script>
}